body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }

  #planet-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  #index-display {
    font-size: 16px;
    font-weight: bold;
    align-items: center;
  }

  #prev-btn:hover, #next-btn:hover {
    background-color: #3e8e41;
    align-items: center;
  }
  
  #planet-display {
    text-align: center;
  }
  
  #planet-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #cccccc;
    transition: all 200ms;
  }
  